<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [8]:
#Import the required libraries
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("Advertising Budget and Sales.csv",index_col=0)

df

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

#### 2: Analyze the dataset

In [19]:
#View the initial few records of the dataset
df.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [20]:
#Check the total number of elements in the dataset
df.describe

<bound method NDFrame.describe of      TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]>

#### 3: Find the features or media channels used by the firm

In [21]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df.shape

(200, 4)

In [22]:
#View the names of each of the attributes
df.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [37]:
#Create a feature object from the columns
x_features  = df[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

x_features.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1             230.1                 37.8                     69.2
2              44.5                 39.3                     45.1
3              17.2                 45.9                     69.3
4             151.5                 41.3                     58.5
5             180.8                 10.8                     58.4

In [36]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_target = df[['Sales ($)']]

y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [38]:
#View the target object
y_target.head()

   Sales ($)
1       22.1
2       10.4
3        9.3
4       18.5
5       12.9

In [39]:
#Verify if all the observations have been captured in the feature object
x_features.shape

(200, 3)

In [42]:
#Verify if all the observations have been captured in the target object
y_target.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [43]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn import model_selection

x_train,x_test,y_train,y_test = model_selection.train_test_split(x_features,y_target)

In [44]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(150, 3) (50, 3) (150, 1) (50, 1)

#### 6: Create a model  to predict the sales outcome

In [45]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression

LineReg = LinearRegression()

LineReg.fit(x_features,y_target)

LinearRegression()

In [62]:
#Print the intercept and coefficients 
print("Intercept %.2f" %LineReg.intercept_)
print("Coefficient",(LineReg.coef_))

Intercept 2.81
Coefficient [[ 0.0468817   0.18960318 -0.00222979]]

In [64]:
#Predict the outcome for the testing dataset
y_predict = LineReg.predict(x_test)
y_predict

array([[21.33354344],
       [13.96327518],
       [18.68185229],
       [ 8.35795351],
       [12.67548249],
       [ 8.38552716],
       [20.89842275],
       [15.21644177],
       [11.56710766],
       [ 6.33455463],
       [14.41435609],
       [20.47041497],
       [ 7.69500673],
       [23.38799666],
       [ 6.51206675],
       [18.51555207],
       [19.13089819],
       [21.81271567],
       [16.34090909],
       [10.43553602],
       [11.3855817 ],
       [18.84702299],
       [14.26207921],
       [16.1670305 ],
       [ 9.44722973],
       [21.82408435],
       [ 8.71948227],
       [ 5.93033245],
       [12.02414258],
       [10.62775831],
       [18.28564125],
       [15.57818169],
       [10.04103086],
       [13.94236307],
       [ 9.33070913],
       [14.01803529],
       [12.85872284],
       [16.46285668],
       [17.18322993],
       [ 7.31407698],
       [12.44320825],
       [15.41266067],
       [19.23791777],
       [18.52429791],
       [14.38067699],
       [10.01615395],
       [10.11829151],
       [ 3.61074288],
       [15.27427304],
       [ 8.8075186 ]])

#### 7: Calculate the Mean Square Error (MSE)

In [48]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
LineReg.fit(x_train,y_train)

LinearRegression()

In [65]:
#Calculate the MSE
print("MSE",np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

MSE 1.3878265246956336